<h1>Listing movies</h1>

<%= will_paginate @movies %>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% for movie in @movies %>
  <tr>
    <td><%= link_to  movie, movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @movies %>

<br />

<%= link_to 'New movie', new_movie_path %>
