<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Recommendations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>

    <h1>Menu</h1>
     <ul>
       <li> <%= link_to 'Users', users_path %>  </li>
       <li> <%= link_to 'Movies', movies_path %>  </li>
       <li> <%= link_to 'Ratings', ratings_path %>  </li>
     </ul>

     <br/>

     <%= yield %>

  </body>
</html>